@tailwind base;
@tailwind components;
@tailwind utilities;


.bigplus:before {
  content: '\FF0B';
}
.chatbar-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 9999px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: inherit;
  overflow: hidden;
}
.chatbar-item:hover {
  background: #747474;}
.chatbar-item:focus {
  outline: none;
}

.tooltip-wrapper {
  position: relative;
  overflow: visible; /* important! */
}

.tooltip-wrapper[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background: #1e1e1e;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

.tooltip-wrapper[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(4px);
}
.sidebar-item {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0.5rem;
  height: 2.5rem;
}

.sidebar-item:hover {
  background-color: var(--sidebar-hover);
}

.sidebar-item-collapsed {
  width: 80%;
}

.sidebar-item-expanded {
  width: 95%;
}
.tooltip {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  padding: 6px 8px;
  font-size: 12px;
  white-space: nowrap;
  transition: opacity 0s ease-in-out;
  z-index: 3;
}

.group:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 672px) {
  

}
